<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<body>
    <h1>ERROR Page</h1>
<div>  Error:
    <p><%- error[0].value %> </p>
    <a href="/post.html">zurück zum Post</a>
</div>
</body>
</html>